<!-- {{ total | filesize: "gb": "hola":123:true:selected }} -->
{{ count | empty }}
<br>
{{ total | filesize: "gb" }}
<br>
<button (click)="send(selected.currencies[0].name)">Enviar</button>
<button (click)="porcent(0.25)">Porcentaje</button>
<hr>
{{ total | percent }}
<br>
<br>
{{ total | currency: selected.currencies[0].symbol }}
<br>
<br>
{{ selected.currencies[0].name | uppercase }}
<br>
<br>
{{ birthday | date: "fullDate" | lowercase }}
<br>
<br>
<code>{{ selected | json }}</code>

<hr>
<hr>

<input type="text" [(ngModel)]="code" value="code">
<button (click)="getInfo(code)">Obtener</button>
<hr>
<div *ngIf="( countriesService.selectedCountry$ | async ) as country">
    <p>{{ country.name }}</p>
</div>

<div *ngIf="( countriesService.error$ | async ) as error">
  <p>{{ error }}</p>
</div>
<hr>


<button (click)="addPost()">POST</button>
<hr>
<div *ngIf="postResult.length > 0">
  {{ postResult }}
</div>

<button (click)="addUpdatePost()">UPDATE</button>
<hr>
<div *ngIf="postUpdateResult.length > 0">
  {{ postUpdateResult }}
</div>

<button (click)="addDeletePost()">DELETE</button>
<hr>
<div *ngIf="postDeleteResult.length > 0">
  {{ postDeleteResult }}
</div>

<app-detail></app-detail>
