<p [appBoxShadow]="true">menu works!</p>

<h2>hola {{ name }} </h2>

<p *ngIf="menuService.customer">lo que se envía: {{ menuService.customer.name }}</p>
<input type="text" name="name" [(ngModel)]="name">
<p>value del input: {{ name }}</p>
<p>total: {{ menuService.total }}</p>

<button (click)="send(name)">ENVIAR PEDIDO</button>

<h2 *ngIf="selected.length">{{ selected | selectedish }}</h2>

<ul>
  <!-- <li *ngFor="let dish of dishes" class="dishes" [style.display]="show(dish.stock)"> -->
  <!-- <li *ngFor="let dish of dishes" class="dishes" [ngStyle]="{display:show(dish.stock)}"> -->
  <li *ngFor="let dish of dishes" class="dishes"
    [ngClass]="validateStock(dish.stock)"
    [appBoxShadow]="dish.stock"
    [appBoxShadowX]="'12px'"
    [appBoxShadowY]="'10px'"
    [appBoxShadowBlur]="'30px'">
      <span>{{ dish.stock }}</span>
      <!-- <app-dish *ngIf="dish.stock" [dish]="dish" (choose)="select($event)"></app-dish> -->
      <app-dish [dish]="dish" (choose)="select($event)"></app-dish>
  </li>
</ul>
